/* 
   Author: Marco Varela
   File name: layout.css
   Description: (week 01) This CSS file contains styles for a responsive layout with a header, navigation bar, content, and footer. It uses Flexbox for responsiveness.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 80vh; 
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: black;
    padding: 10px 0;
    flex-wrap: wrap; 
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s ease; 
}

.navbar a:hover {
    background-color: #444;
}

.content {
    flex: 1; 
    display: flex;
    margin: 20px;
    flex-wrap: wrap; 
}

.main {
    flex: 3;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    min-width: 60%; 
}

.aside {
    flex: 1;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-left: 1px solid #ddd;
    min-width: 30%; 
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
